

*{box-sizing: border-box;}

body{
    display:flex;
    align-items:center;
    justify-content: center;
}
#row{
    align-items:center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:600px;
    margin: 10px;
    color:darkkhaki;
}
#item_box{
    width:100px;
    height:100px;
    margin-top: 10px;
    margin-left:10px;
    background: linear-gradient(to right,red,yellow);
    color:white;
}